.book-list
  padding-bottom 50px
  .back-icon
    position fixed
    z-index 9999
    width 0.88rem
    height 0.88rem
    left 10px
    top 10px
  > ul
    > li
      position relative
      padding 15px
      .list-left
        position absolute
        text-align center
        overflow hidden
        width 2.4rem
        height 2.4rem
        > img
          height 100%
      .list-right
        margin-left 2.6rem
        > h3
          color #333333
          font-size 0.32rem
          line-height 0.32rem
          overflow hidden
          white-space nowrap
          text-overflow ellipsis
        > p
          clear both
          margin-top 5px
          overflow hidden
          font-size 0.24rem
          > span
            display block
          > span:first-child
            float left
            color #D6D6D6
            margin-right 0.1rem
          > span:last-child
            color #888888
            overflow hidden
            white-space nowrap
            text-overflow ellipsis
        > div
          margin-top 10px
          overflow hidden
          .book-number
            float right
            > img
              width 0.48rem
              height 0.48rem
              vertical-align middle
            > span
              display inline-block
              vertical-align middle
              height 0.48rem
              width 0.96rem
              text-align center
              line-height 0.48rem
              font-size 0.32rem
              color #523F1A
          .book-price
            font-size 0.24rem
            color #666666
            .big
              font-size 0.32rem
              vertical-align baseline

